body {
    background-color: white;
}

#tablero {
    background-color: black;
}

.fila {
    height: 42vh;
}

.cuadro {
    opacity: 1;
    transition: opacity ease 500ms;
    cursor: pointer;
}

#cuadro-amarillo {
    background-color: yellow;
}

#cuadro-azul {
    background-color: blue;
}

#cuadro-rojo {
    background-color: red;
}

#cuadro-verde {
    background-color: green;
}

.oculto {
    display: none;
}
